@using CRUDelicious_.Models
@model Dishes

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display</title>
</head>
<body>

    <a href="/">Home</a>
    <h1>@Model.Name</h1>
    <h3>@Model.Chef</h3>
    <p>__________________</p>

    <p></p>
    <p>@Model.Description</p>
    <p>Calories: @Model.Calories</p>
    <p>Tastiness: @Model.Tastiness</p>


    <div class="deleteEdit">
        <a href = "edit/@Model.DishID">Edit</a>
        <a href = "delete/@Model.DishID">Delete</a>
    </div>
    
</body>
</html>